<div class="home-container">
    <h1>Bienvenido al sistema mi king</h1>
    <p>somos unos csmrs</p>
    <p>Aquí puedes colocar más contenido para tu página de inicios.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ut, natus minus fugiat doloremque facere
        neque deleniti atque placeat, mollitia perspiciatis dolorum et. Fugit consectetur magnam, in eaque praesentium
        suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, omnis consequuntur accusamus iste
        fuga deserunt impedit itaque, eligendi perferendis magnam enim ad dolores tempore sapiente aspernatur voluptatum
        vel nemo libero! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, modi impedit, soluta
        corporis neque doloremque eaque corrupti in deleniti quas odio consequuntur illum vitae pariatur voluptas
        consectetur repudiandae rerum iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. At aliquid quae
        sequi error asperiores modi neque deleniti reiciendis velit quas natus, doloremque, non officia corrupti qui
        molestias magni. In, placeat!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ut, natus minus fugiat doloremque facere
        neque deleniti atque placeat, mollitia perspiciatis dolorum et. Fugit consectetur magnam, in eaque praesentium
        suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, omnis consequuntur accusamus iste
        fuga deserunt impedit itaque, eligendi perferendis magnam enim ad dolores tempore sapiente aspernatur voluptatum
        vel nemo libero! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, modi impedit, soluta
        corporis neque doloremque eaque corrupti in deleniti quas odio consequuntur illum vitae pariatur voluptas
        consectetur repudiandae rerum iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. At aliquid quae
        sequi error asperiores modi neque deleniti reiciendis velit quas natus, doloremque, non officia corrupti qui
        molestias magni. In, placeat!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ut, natus minus fugiat doloremque facere
        neque deleniti atque placeat, mollitia perspiciatis dolorum et. Fugit consectetur magnam, in eaque praesentium
        suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, omnis consequuntur accusamus iste
        fuga deserunt impedit itaque, eligendi perferendis magnam enim ad dolores tempore sapiente aspernatur voluptatum
        vel nemo libero! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, modi impedit, soluta
        corporis neque doloremque eaque corrupti in deleniti quas odio consequuntur illum vitae pariatur voluptas
        consectetur repudiandae rerum iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. At aliquid quae
        sequi error asperiores modi neque deleniti reiciendis velit quas natus, doloremque, non officia corrupti qui
        molestias magni. In, placeat!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ut, natus minus fugiat doloremque facere
        neque deleniti atque placeat, mollitia perspiciatis dolorum et. Fugit consectetur magnam, in eaque praesentium
        suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, omnis consequuntur accusamus iste
        fuga deserunt impedit itaque, eligendi perferendis magnam enim ad dolores tempore sapiente aspernatur voluptatum
        vel nemo libero! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, modi impedit, soluta
        corporis neque doloremque eaque corrupti in deleniti quas odio consequuntur illum vitae pariatur voluptas
        consectetur repudiandae rerum iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. At aliquid quae
        sequi error asperiores modi neque deleniti reiciendis velit quas natus, doloremque, non officia corrupti qui
        molestias magni. In, placeat!</p>




</div>